.modal{
    background: #fefefe;
    width: 512px;
    max-width: 100%;
    padding: 16px;
    border-radius: 4px;
}

/* --------------------
 * .bounceInUp-wrapper
 * -------------------- */
#dialog-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 16px;
}

#dialog-wrapper .bounceInUp-wrapper{
    width: 100%;
    height: 100%;
}
