.check{
    padding-left: 8px;
}
@media (max-width: 768px) {
    .check{
        padding-left: 8px;
    }
}

/* ---------------------------------------
* requirements_wrapper checkbox左右padding
* ----------------------------------------*/
@media (max-width: 768px){
    #requirements_wrapper .group-input{
        padding-left: 32px;
        padding-right: 32px;
    }
}

/* ------------------------------------
* #requirements_wrapper #remark_editor
* -------------------------------------*/
#requirements_wrapper #remark_editor{
    margin-top: 24px;
}