/*----------------
 * 會員頭像的Button
 *----------------*/
.member-info{
    margin: 12px;
    padding: 4px 16px;
    /* border: 1px solid black; */
    border-radius: 20px;
    cursor: pointer;
    outline: 0;
    user-select: none;
    background-color: none;
}
.member-info:hover{
    background-color: #e0e0e0;;
    transition: all 0.3s;
}
@media (max-width: 768px){
    .member-info{
        margin: 8px;
        padding: 4px 8px;
    }
}

/* 頭像 */
.member-info .avatar{
    width: 32px;
    margin-right: 8px;
}
@media (max-width: 768px){
    .member-info .avatar{
        margin-right: 4px;
    }
}

.member-info .name{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
}

/*-------------------------
 * md(含)以上的螢幕: 下拉式選單
 *-------------------------*/
.menu{
    width: 180px;
    position: absolute;
    top: 48px;
    right: -40px;
}

/*-------------------------
 * sm(含)以下的螢幕: 下拉式選單
 *-------------------------*/
.menu-xs{
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    max-height: 100%;
}