.postHeader .title{
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.postHeader .avatar{
    width: 30px;
}