/* --------------
* .postCover
* --------------- */
.postCover{
    /* border: 1px solid #484848; */
    border-radius: 4px;
    background-color: #fefefe;
    /* display: inline-block; */
    width: 20em;
    margin-bottom: 24px;
    /* height: auto; */
}
@media (max-width: 360px){
    .postCover{
        width: 18em;
    }
}

.postCover:hover{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px){
    .postCover:hover{
        box-shadow: none;
    }
}

/* --------------
* .postCover .img
* --------------- */
.postCover .imageBox img{
    width: 100%;
    border-radius: 4px 4px 0 0;
}
@media (max-width: 768px){
    .postCover .imageBox .sm-ratio{
        height: 0;
        padding-top: 60%;
        /* overflow: hidden; */
    }
    .postCover .imageBox .sm-ratio img{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
    }
}

/* -----------------
* .postCover .avatar
* ------------------ */
.postCover .avatar{
    position: absolute;
    top: 0;
    left: 16px;
    width: 40px;
    transform: translateY(-100%);
}

/* --------------------
* .postCover .imageBox
* --------------------- */
.postCover .imageBox{
    overflow: initial;
}

/* -----------------
* .postCover .title
* ------------------ */
.avatar_title .title{
    padding-left: 42px;
}
@media (max-width: 768px){
    .avatar_title .title.u-mb-16{
        margin-bottom: 8px !important;
    }
}

/* ---------------------------------------------------------
* .postCover .ql-editor 避免editor的文字在首頁有奇怪的scroll行為
* ----------------------------------------------------------*/
.postCover .ql-editor{
    padding: 0 0;
    overflow-y: initial;
}