.menuItem{
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
}
.menuItem:hover{
    background-color: #f8f8ff;
}

/*-------------------------
 * .btn
 *-------------------------*/
.menuItem .btn{
    padding: 0 0;
    min-width: 100%;
    text-align: left;
    height: auto;
}

/*-------------------------
 * .link
 *-------------------------*/
 .menuItem .link{
    line-height: inherit;
    height: auto;
}

/*-------------------------
 * .icon-btn
 *-------------------------*/
.menuItem .icon-btn{
    font-size: 18px;
    line-height: inherit;
    margin-right: 12px;
    vertical-align: middle;
}

/*-------------------------
 * .divider
 *-------------------------*/
.menuItem.divider{
    padding-top: 1px;
    padding-bottom: 0;
    border-bottom: 1px solid #e6ecf0;
}
