/* --------------
 * header
 * -------------- */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
}

#header-colored{
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
/* ----
 * nav
 * ---- */
.nav{
    max-width: 100%;
}

/* -------
 * Logo
 * ------*/
.header .logo{
    width: 56px;
    height: 56px;
    background: transparent;
}

/*
.logo:hover{
    animation: logoHover 1s infinite;
}
*/

.header .logo .image{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* @keyframes logoHover{
    0% { background: linear-gradient(to bottom right, #8c9bd3,#a07ab8,#c98799,#e7a09c,#f7d6b0,#f7e2b4); }
    25% { background: linear-gradient(to bottom right, #647edd,#9454bb,#cc6681,#e97a74,#f3bf82,#fad689); }
    50% { background: linear-gradient(to bottom right, #4c68d7,#8a3ab9,#cd486b,#e95950,#fbad50,#fccc63); }
    75% { background: linear-gradient(to bottom right, #647edd,#9454bb,#cc6681,#e97a74,#f3bf82,#fad689); }
    100% { background: linear-gradient(to bottom right, #8c9bd3,#a07ab8,#c98799,#e7a09c,#f7d6b0,#f7e2b4); }
}
@-webkit-keyframes logoHover{
    0% { background: linear-gradient(to bottom right, #8c9bd3,#a07ab8,#c98799,#e7a09c,#f7d6b0,#f7e2b4); }
    25% { background: linear-gradient(to bottom right, #647edd,#9454bb,#cc6681,#e97a74,#f3bf82,#fad689); }
    50% { background: linear-gradient(to bottom right, #4c68d7,#8a3ab9,#cd486b,#e95950,#fbad50,#fccc63); }
    75% { background: linear-gradient(to bottom right, #647edd,#9454bb,#cc6681,#e97a74,#f3bf82,#fad689); }
    100% { background: linear-gradient(to bottom right, #8c9bd3,#a07ab8,#c98799,#e7a09c,#f7d6b0,#f7e2b4); }
} */

/* --------------
 * searchBar_box
 * --------------*/
.searchBar_box{
    max-width: 100%;
}

.right-actions > li{
    float: left;
}
/* --------------
 * about-link
 * --------------*/
.about-link{
    margin: 6px 4px;
    padding: 8px 8px;
    cursor: pointer;
}
@media (max-width: 768px){
    .about-link{
        margin: 8px 0px;
    }
}