/* --------------
 * Logo
 * -------------- */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
}

#header-colored{
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.header .logo{
    width: 64px;
    height: 64px;
    background: transparent;
}

/*
.logo:hover{
    animation: logoHover 1s infinite;
}
*/

.header .logo .image{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@media (max-width: 768px){
    .header .logo{
        width: 56px;
        height: 56px;
    }
}

/* @keyframes logoHover{
    0% { background: linear-gradient(to bottom right, #8c9bd3,#a07ab8,#c98799,#e7a09c,#f7d6b0,#f7e2b4); }
    25% { background: linear-gradient(to bottom right, #647edd,#9454bb,#cc6681,#e97a74,#f3bf82,#fad689); }
    50% { background: linear-gradient(to bottom right, #4c68d7,#8a3ab9,#cd486b,#e95950,#fbad50,#fccc63); }
    75% { background: linear-gradient(to bottom right, #647edd,#9454bb,#cc6681,#e97a74,#f3bf82,#fad689); }
    100% { background: linear-gradient(to bottom right, #8c9bd3,#a07ab8,#c98799,#e7a09c,#f7d6b0,#f7e2b4); }
}
@-webkit-keyframes logoHover{
    0% { background: linear-gradient(to bottom right, #8c9bd3,#a07ab8,#c98799,#e7a09c,#f7d6b0,#f7e2b4); }
    25% { background: linear-gradient(to bottom right, #647edd,#9454bb,#cc6681,#e97a74,#f3bf82,#fad689); }
    50% { background: linear-gradient(to bottom right, #4c68d7,#8a3ab9,#cd486b,#e95950,#fbad50,#fccc63); }
    75% { background: linear-gradient(to bottom right, #647edd,#9454bb,#cc6681,#e97a74,#f3bf82,#fad689); }
    100% { background: linear-gradient(to bottom right, #8c9bd3,#a07ab8,#c98799,#e7a09c,#f7d6b0,#f7e2b4); }
} */

/* -------------------
 * searchBar__xs__icon
 * ------------------- */
 .searchBar_box .searchBar__xs__icon{
    width: 48px;
    height: 56px;
    padding-top: 4px; /* 為active的正圓留上下空間 */
    padding-bottom: 4px;
}
.searchBar__xs__icon .icon-btn{ 
    width: 100%;
    height: 100%;
}
.searchBar__xs__icon .icon{
    line-height: 42px;
    height: 100%;
}

/* ----------------------------
 * searchBar search-form-field
 * ---------------------------- */
.header .searchBar .form input[type="text"]{
    margin-top: 14px;
    margin-bottom: 14px;
}

@media (max-width: 768px){
    .header .searchBar .form input[type="text"]{
        margin-top: 0;
        margin-bottom: 0;
    }
    .header .searchBar{
        margin-bottom: 8px;
    }
}

.right-actions > li{
    float: left;
}