.my_class .mce-content-body {
    background: transparent;
}
.ql-container.ql-snow{
    border: none;
    font-size: 16px;
}

.editor_wrapper_edit .quill .ql-container.ql-snow{
    min-height: 136px;
    max-height: 480px;
    overflow-y: scroll;
}
@media (max-width: 1024px) {
    .editor_wrapper_edit .quill .ql-container.ql-snow{
        /* height: 136px; */
        max-height: 400px;
    }
}
@media (max-width: 414px) { /* iphone 6,7,8 */
    .editor_wrapper_edit .quill .ql-container.ql-snow{
        /* height: 136px; */
        max-height: 136px;
    }
}

.postWrapper .ql-editor.ql-blank::before{
    font-style: inherit;
}