/* ----------
 * background
 * ---------- */
 #full_page_msg_wrapper{
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    background-color: rgba(0, 0, 27, 0.6);
    background-size: cover;
    background-position: center;
}

/* 遮罩: 利用偽元素 */
#full_page_msg_wrapper::before{
    content: "";
    position: absolute; /* 因為父層是fixed, 所以會自動對齊父層 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 27, 0.6);
    opacity: 0.6;
}