/* --------------
* closeCross
* -------------- */
.close-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
}

.shadow-header{
    background-color: rgba(255,255,255,0.5);
    /* background-color: rgba(27, 43, 47, 0.6); */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.close-button{
    width: inherit;
    height: inherit;
    cursor: pointer;
    max-width: 624px;
}

.closeCross{
    width: 56px;
    height: 56px;
    transition: all 0.3s;
}
.closeCross:hover{
    transform: rotate(180deg);
}

.closeCross span{
    width: 16px;
    height: 2px;
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.shadow-header .closeCross span{
    background-color: #484848;
}

.closeCross span:first-child{
    transform: translate(-50%,-50%) rotate(45deg);
}

.closeCross span:last-child{
    transform: translate(-50%,-50%) rotate(-45deg);
}