.dropdown-menu-wrapper{
    width: 100%;
    background-color: #fefefe;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/*-------------------------
 * .arrow-up
 *-------------------------*/
.arrow-up{
    position: absolute;
    top: -10px;
    right: 80px;
    width: 18px;
    height: 12px;
    overflow: hidden;
}
.arrow-outer{
    position: absolute;
    display: inline-block;
    border-bottom: 10px solid #657786;
    border-bottom-color: rgba(0,0,0,0.1);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.arrow-inner{
    position: absolute;
    display: inline-block;
    border-bottom: 9px solid #fff;
    border-bottom-color: #fff;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    top: 1px;
    left: 1px;
}