.checkbox input[type="checkbox"] + label,
.radio-button input[type="radio"] + label{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px 5px 0px 1.5em;
}

.radio-button{ display: inline-block; }

.select-wrapper::before{
    content: '\e80f';
    font: normal normal normal 12px/1 fontello;
    color: #4F8196;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 56px;
}



