/* ----------------------------
 * searchBar
 * ---------------------------- */
.searchBar {
    width: 400px;
    max-width: 100%;
}
/* ----------------------------
 * searchBar search-form-field
 * ---------------------------- */
.header .searchBar .form input[type="text"]{
    padding-left: 36px;
    margin-top: 6px;
    margin-bottom: 6px;
}

/* ----------------------------
 * searchBar .clear
 * ---------------------------- */
.searchBar .clear{
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    min-width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 50%;
}

.searchBar .clear:hover{
    background-color: #d1d2d3;
    border-radius: 50%;
}

.searchBar .clear span{
    width: 16px;
    height: 2px;
    background-color: #484848;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.searchBar .clear span:first-child{
    transform: translate(-50%,-50%) rotate(45deg);
}

.searchBar .clear span:last-child{
    transform: translate(-50%,-50%) rotate(-45deg);
}

